$letter-gray: #666766;
$frame-orange: #F58538;

@keyframes success-spelling {
    0% {
        border: 2px solid transparent;
    }

    50% {
        border: 2px solid green;
    }

    100% {
        border: 2px solid transparent;
    }
}
@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content.spelling {
        background: url("../images/themes/notebook/reading-background.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }

    }
    .spelling {
        .image {
            img {
                width: 60%;
                margin-left: 20%;
            }

        }

        .result {
            margin: 20px auto;

            .letters-container {
                text-align: center;
                height: 5%;

                &.completed {
                    animation: success-spelling 0.3s infinite;
                }

                .letter {
                    width: 12%;
                    display: inline-block;
                    margin: 0;
                }
            }
        }

        .suggestions {
            margin: 40px auto 20px;

            .letters-container {
                text-align: center;

                letter {

                    .letter {
                        width: 6%;
                        display: inline-block;
                        margin: 4px 1%;
                        background-image: url("../images/themes/notebook/letters/frame.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        &:active {
                            background-color: rgba(248, 185, 82, 0.3);
                        }
                        transition: background-color 0.2s;
                    }

                    &.used {
                        .letter {
                            background-image: url("../images/themes/notebook/letters/frame-selected.png");
                        }
                    }
                }
            }
        }

        .buttons {
            text-align: center;
        }
    }
}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content.spelling {
        background: url("../images/themes/notebook/reading-phone-background.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }
    }
    .spelling {
        .image {
            img {
                width: 50%;
                margin-left: 25%;
                margin-top: -2%;
            }

        }


        .result {
            margin: -10px auto 10px;

            .letters-container {
                text-align: center;
                height: 5%;

                &.completed {
                    animation: success-spelling 0.3s infinite;
                }

                .letter {
                    width: 10%;
                    display: inline-block;
                    margin: 0 2px;
                }
            }
        }

        .suggestions {
            margin: 20px auto 20px;

            .letters-container {
                text-align: center;

                letter {
                    .letter {
                        width: 6%;
                        display: inline-block;
                        margin: 4px 1%;
                        background-image: url("../images/themes/notebook/letters/frame.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        &:active {
                            background-color: rgba(248, 185, 82, 0.3);
                        }
                        transition: background-color 0.2s;
                    }

                    &.used {
                        .letter {
                            background-image: url("../images/themes/notebook/letters/frame-selected.png");
                        }
                    }
                }
            }
        }

        .buttons {
            text-align: center;
        }
    }

}
