<ion-navbar *navbar>
    <ion-title>{{gameData.title}}</ion-title>
</ion-navbar>

<ion-content padding class="spelling">
    <div *ngIf="currentWord">
        <div class="image">
            <img src="build/{{currentWord.image}}">
        </div >
        <div class="result" *ngIf="result">
            <div class="letters-container" [ngClass]="{completed: currentIndex === currentWordSpelling.length}">
                <letter *ngFor="#l of result | direction:gameData.data.direction"
                        [image]="dataService.data.letters[l]" [theme]="'blackboard'"></letter>
            </div>
        </div>
        <div class="suggestions" *ngIf="suggestions">
            <div class="letters-container">
                <letter *ngFor="#l of suggestions | shuffle" [image]="dataService.data.letters[l.value]"
                        (click)="letterClicked($event, l)" [ngClass]="{used: l.used}"
                        [theme]="'blackboard'" ></letter>
            </div>
        </div>

        <div class="buttons">
            <button (click)="nextWord()">המילה הבאה</button>
        </div>
    </div>

</ion-content>
