$letter-gray: #666766;
$frame-orange: #F58538;

@keyframes success-spelling {
    0% {
        border: 2px solid transparent;
    }

    50% {
        border: 2px solid green;
    }

    100% {
        border: 2px solid transparent;
    }
}
@media screen and (device-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content.spelling {
        background: url("../images/themes/blackboard/background.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }

    }
    .spelling {
        .image {
            img {
                width: 60%;
                margin-left: 20%;
            }

        }

        .result {
            margin: 20px auto;

            .letters-container {
                text-align: center;
                height: 5%;

                &.completed {
                    animation: success-spelling 0.3s infinite;
                }

                .letter {
                    width: 12%;
                    display: inline-block;
                    margin: 0 2px;
                }
            }
        }

        .suggestions {
            margin: 40px auto 20px;

            .letters-container {
                text-align: center;

                letter {
                    .letter {
                        width: 6%;
                        display: inline-block;
                        margin: 4px 1%;
                        background-image: url("../images/themes/blackboard/letters/frame.png");
                        background-size: contain;
                    }

                    &.used {
                        .letter {
                            background-color: rgba(245, 133, 56, 0.7);
                        }
                    }
                }
            }
        }

        .buttons {
            text-align: center;
        }
    }
}

@media screen and (min-device-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content.spelling {
        background: url("../images/themes/blackboard/background_phone.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }
    }
    .spelling {
        .image {
            img {
                width: 60%;
                margin-left: 20%;
                margin-top: -5%;
            }

        }


        .result {
            margin: -10px auto 10px;

            .letters-container {
                text-align: center;
                height: 5%;

                &.completed {
                    animation: success-spelling 0.3s infinite;
                }

                .letter {
                    width: 10%;
                    display: inline-block;
                    margin: 0 2px;
                }
            }
        }

        .suggestions {
            float: right;
            width: 3%;
            margin-right: 1%;
            margin-top: -49%;

            .letters-container {
                text-align: center;

                letter {
                    .letter {
                        display: inline-block;
                        margin: 4px 1%;
                        border: 2px solid $frame-orange;
                        background-color: rgba(255,255,255,0.7);

                        .letter-img {
                            width: 98%;
                        }

                        .frame {
                            width: 100%;
                        }
                    }

                    &.used {
                        .letter {
                            background-color: rgba(245,133,56,0.7);
                        }
                    }
                }
            }
        }

        .buttons {
            text-align: center;
        }
    }

}
