.math {
    overflow: hidden;

    .cards {
        margin-top: 40px;
    }

    ion-card {
        height: 50px;
        opacity: 0.7;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
    }
}

@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content.addition, ion-content.subtraction {
        background: url("../images/themes/blackboard/math-board-background.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }

    }
    ion-content.counting {
        background: url("../images/themes/blackboard/math-board-background.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }

        .wrapper {
            height: 100%;
        }

        .count-row {
            height: 15%;
        }

        .count-items {
            width: 96%;
            height: 60%;
            margin-left: 5%;
            text-align: center;
            margin-top: 60px;

            .count-cell {
                display: inline-block;
                width: 14%;
                margin-left: -4%;
                margin-top: -1%;
            }
        }

    }
    .addition, .subtraction, .counting {
        .exercise {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            margin-top: 200px;

            .letter, .number {
                width: 12%;
                display: inline-block;
                margin: 0 2px;

                &.double-digit {
                    margin: 0 -5%;
                    width: 24%;
                    img {
                        width: 50%;
                    }

                    img:nth-child(2) {
                        margin-left: -26%;
                    }
                }
            }
        }



        .suggestions {
            margin: 40px auto 20px;

            .letters-container {
                text-align: center;

                number {
                    .number {
                        width: 6%;
                        display: inline-block;
                        margin: 4px 1%;

                        .frame {
                            width: 100%;
                            margin-bottom: -106%;
                        }

                        &.double-digit {
                            margin: 4px -1%;
                            width: 12%;

                            img {
                                width: 50%;

                            }

                            img:nth-child(3) {
                                margin-left: -30%;

                            }

                            .frame {
                                margin-bottom: -53%;
                            }

                        }
                    }

                }
            }
        }

        .buttons {
            text-align: center;
        }
    }
}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content.addition, ion-content.subtraction, ion-content.counting {
        background: url("../images/themes/blackboard/background_phone.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }
    }

    ion-content.counting {
        background: url("../images/themes/blackboard/background_phone.png");
        background-size: cover;

        scroll-content {
            overflow: hidden;
        }

        .wrapper {
            height: 100%;
        }

        .count-row {
            height: 22%;
        }

        .count-items {
            width: 94%;
            height: 50%;
            margin-left: 3%;
            text-align: center;
            margin-top: 30px;

            .count-cell {
                display: inline-block;
                width: 13%;
                margin-left: -4%;
                margin-top: -1%;
            }
        }

    }

    .addition, .subtraction, .counting {
        .exercise {
            width: 80%;
            margin-left: 10%;
            text-align: center;
            margin-top: 75px;

            .letter, .number {
                width: 12%;
                display: inline-block;
                margin: 0 2px;

                &.double-digit {
                    margin: 0 -5%;
                    width: 24%;
                    img {
                        width: 50%;
                    }

                    img:nth-child(2) {
                        margin-left: -26%;
                    }
                }
            }
        }



        .suggestions {
            margin: 40px auto 20px;

            .letters-container {
                text-align: center;

                number {
                    .number {
                        width: 6%;
                        display: inline-block;
                        margin: 4px 1%;

                        .frame {
                            width: 100%;
                            margin-bottom: -108%;
                        }

                        &.double-digit {
                            margin: 4px -1%;
                            width: 12%;

                            img {
                                width: 50%;

                            }

                            img:nth-child(3) {
                                margin-left: -30%;

                            }

                            .frame {
                                margin-bottom: -54%;
                            }

                        }
                    }

                }
            }
        }

        .buttons {
            text-align: center;
        }
    }
}

