<hud [showNextEx]="true" (nextEx)="nextExercise()"></hud>

<ion-content padding class="counting">
    <div *ngIf="matrix" class="wrapper">
        <div class="count-items">
            <div class="count-row" *ngFor="let row of matrix; let i = index">
                <span class="count-cell" *ngFor="let column of row; let j = index">
                    <img *ngIf="matrix[i][j]" src="build/images/sketched/{{picture}}.png">
                </span>
            </div>
        </div >

        <div class="suggestions" *ngIf="suggestions">
            <div class="letters-container">
                <number *ngFor="let s of suggestions | shuffle" [value]="s"
                        (click)="numberClicked($event, s)" [theme]="'blackboard'" [frame]="true"></number>
            </div>
        </div>
    </div>

</ion-content>