@font-face {
    src: url("../fonts/noot-aj.woff");
    font-family: nootregular;
}

@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content.flags {
        background: url("../images/themes/flags/flag-background.png");
        background-size: cover;

        .image {
            width: 36%;
            margin: 100px 32%;
        }

        scroll-content {
            overflow: hidden;
        }

        .suggestions {
            color: #666766;
            font-family: nootregular;
            width: 96%;
            margin: 0 auto;

            .suggestion {
                transition: background 0.2s;
                width: 40%;
                display: inline-block;
                text-align: right;
                font-size: 24px;
                border: 2px solid;
                margin: 2% 5%;
                height: 60px;
                line-height: 60px;

                .image-small img{
                    height: 45px;
                    float: left;
                    margin: 3px 6px;
                }
                
                .text {
                    float: right;
                    margin-right: 15px;
                }

                &:active, &.used {
                    background: rgba(102, 102, 102, 0.3);
                }
            }
        }

    }
}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content.flags {
        background: url("../images/themes/flags/flag-background-phone.png");
        background-size: cover;

        .image {
            width: 36%;
            margin: 24px 32%;
        }

        scroll-content {
            overflow: hidden;
        }

        .suggestions {
            color: #666766;
            font-family: nootregular;
            width: 96%;
            margin: 0 auto;
            margin-top: -1%;

            .suggestion {
                transition: background 0.2s;
                width: 42%;
                display: inline-block;
                text-align: right;
                font-size: 20px;
                margin: 0% 4%;
                border: 2px solid;
                height: 50px;
                line-height: 53px;

                .image-small img{
                    height: 32px;
                    float: left;
                    margin: 6px 6px;
                }

                .text {
                    float: right;
                    margin-right: 15px;
                }

                &:active, &.used {
                    background: rgba(102, 102, 102, 0.3);
                }
            }
        }
    }
}