// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/home/home';
@import '../pages/words/words';
@import '../pages/math/math';
@import '../pages/words/spelling/spelling';
@import '../pages/general/general';
@import '../components/hud/hud';
@import '../pages/general/clock/clock';

@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content {
        background: url("../images/themes/clouds/background.png");
    }
}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content {
        background: url("../images/themes/clouds/background_phone.png");
    }
}
ion-content {

    background-size: cover;

    scroll-content {
        overflow: hidden;
    }
}


