// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/home/home';
@import '../pages/words/words';
@import '../pages/math/math';
@import '../pages/words/spelling/spelling';
@import '../pages/math/addition/addition';

@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content {
        background: url("../images/themes/clouds/background.png");
    }
}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content {
        background: url("../images/themes/clouds/background_phone.png");
    }
}
ion-content {

    background-size: cover;

    scroll-content {
        overflow: hidden;
    }
}

ion-icon.back-button-icon.ion-ios-custom-back:before {
    background-image: url("../images/buttons/back.png");
    background-position: center;
    background-size: cover;
    content: 'xxxx';
    color: transparent;
}

.back-button-text .back-default {
    color: $frame-orange;
}

ion-page {
    div.top-buttons {
        position: absolute;
        z-index: 2;

        button {
            background-color: transparent;
            color: $frame-orange;

            &.activated {
                background-color: transparent;
            }

            img {
                width: 50px;
            }
        }
    }
}