<div class="top-buttons">
  <button (click)="goBack()"><img src="build/images/buttons/back.png">חזרה </button>
</div>

<ion-content padding class="subtraction">
  <div *ngIf="exNumbers">
    <div class="exercise">
      <span><number [value]="exNumbers.find === 'a' ? '' : exNumbers.a" [theme]="'blackboard'"></number></span>
      <span><letter [image]="'subtraction'" [theme]="'blackboard'"></letter></span>
      <span><number [value]="exNumbers.find === 'b' ? '' : exNumbers.b" [theme]="'blackboard'"></number></span>
      <span><letter [image]="'equal'" [theme]="'blackboard'"></letter></span>
      <span><number [value]="exNumbers.find === 'target' ? '' : exNumbers.target" [theme]="'blackboard'"></number></span>
    </div >

    <div class="suggestions" *ngIf="suggestions">
      <div class="letters-container">
        <number *ngFor="#s of suggestions | shuffle" [value]="s"
                (click)="numberClicked($event, s)" [theme]="'blackboard'" [frame]="true"></number>
      </div>
    </div>

    <div class="buttons">
      <button (click)="nextExercise()">התרגיל הבא</button>
    </div>
  </div>

</ion-content>