// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import 'pages/home/home';
@import 'pages/spelling/spelling';

ion-content {
    background: url("../images/themes/clouds/background.png");
    background-size: cover;

    scroll-content {
        overflow: hidden;
    }
}