// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import 'pages/home/home';
@import 'pages/words/words';
@import 'pages/math/math';
@import 'pages/spelling/spelling';
@import 'pages/addition/addition';

ion-content {
    background: url("../images/themes/clouds/background.png");
    background-size: cover;

    scroll-content {
        overflow: hidden;
    }
}

ion-icon.back-button-icon.ion-ios-custom-back:before {
    background-image: url("../images/buttons/back.png");
    background-position: center;
    background-size: cover;
    content: 'xxxx';
    color: transparent;
}

.back-button-text .back-default {
    color: $frame-orange;
}