ion-page {
    div.top-buttons {
        width: 100%;
        position: absolute;
        z-index: 2;

        button {
            background-color: transparent;
            color: $frame-orange;

            &.activated {
                background-color: transparent;
            }

            img {
                width: 50px;
            }
        }

        div.level-select {
            display: inline-block;
            float: right;
            width: 12%;
            margin: 2px 10px;

            ion-item {
                background: transparent;

                .item-inner {
                    border: none;
                }

                ion-select {
                    padding: 0;
                    color: $frame-orange;
                }
            }
        }
    }
}

div.alert-radio-group {
    overflow: auto;
}


ion-icon.back-button-icon.ion-ios-custom-back:before {
    background-image: url("../images/buttons/back.png");
    background-position: center;
    background-size: cover;
    content: 'xxxx';
    color: transparent;
}

.back-button-text .back-default {
    color: $frame-orange;
}