<hud [showNextEx]="true" (nextEx)="nextExercise()"></hud>

<ion-content padding class="addition">
  <div *ngIf="exNumbers">
    <div class="exercise">
      <span><number [value]="exNumbers.find === 'a' ? '' : exNumbers.a" [theme]="'blackboard'"></number></span>
      <span><letter [image]="'addition'" [theme]="'blackboard'"></letter></span>
      <span><number [value]="exNumbers.find === 'b' ? '' : exNumbers.b" [theme]="'blackboard'"></number></span>
      <span><letter [image]="'equal'" [theme]="'blackboard'"></letter></span>
      <span><number [value]="exNumbers.find === 'target' ? '' : exNumbers.target" [theme]="'blackboard'"></number></span>
    </div >

    <div class="suggestions" *ngIf="suggestions">
      <div class="letters-container">
        <number *ngFor="let s of suggestions | shuffle" [value]="s"
                (click)="numberClicked($event, s)" [theme]="'blackboard'" [frame]="true"></number>
      </div>
    </div>
  </div>

</ion-content>