$clock-red: #f16055;
@font-face {
    src: url("../fonts/noot-aj.woff");
    font-family: nootregular;
}


@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content.clock {
        &.day {
            background: url("../images/time/day-background.png");
            background-size: cover;
        }

        &.night {
            background: url("../images/time/night-background.png");
            background-size: cover;
        }

        scroll-content {
            overflow: hidden;
        }

        .suggestions {
            position: absolute;
            bottom: 30%;
            width: 72%;
            left: 14%;
            font-family: nootregular;
            color: $clock-red;

            .suggestion {
                display: inline-block;
                font-size: 32px;
                margin: 0 1%;
                width: 23%;
                height: 50px;
                line-height: 55px;
                text-align: center;
                vertical-align: text-top;
                border: 2px solid;
                transition: background 0.2s;

                &:active {
                    background: rgba(241, 96, 85, 0.3);

                }
            }

        }

        .clock-frame {
            width: 30%;
            margin-left: 35%;

            img {
                position: absolute;
                width: 30%;
                top: 10%;
                -webkit-transition: transform 1s;
                -moz-transition: transform 1s;
                -ms-transition: transform 1s;
                -o-transition: transform 1s;
                transition: transform 1s;
            }
        }
    }

}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content.clock {
        &.day {
            background: url("../images/time/phone-day.png");
            background-size: cover;
        }

        &.night {
            background: url("../images/time/phone-night.png");
            background-size: cover;
        }

        scroll-content {
            overflow: hidden;
        }

        .suggestions {
            position: absolute;
            top: 480px;
            width: 72%;
            left: 14%;
            font-family: nootregular;
            color: $clock-red;

            .suggestion {
                display: inline-block;
                font-size: 22px;
                margin: 0 1%;
                width: 23%;
                height: 40px;
                line-height: 45px;
                text-align: center;
                vertical-align: text-top;
                border: 2px solid;
                transition: background 0.2s;

                &:active {
                    background: rgba(241, 96, 85, 0.3);

                }
            }

        }

        .clock-frame {
            width: 22%;
            margin-left: 39%;

            img {
                position: absolute;
                width: 22%;
                top: 10%;
                -webkit-transition: transform 1s;
                -moz-transition: transform 1s;
                -ms-transition: transform 1s;
                -o-transition: transform 1s;
                transition: transform 1s;
            }
        }
    }

}