@media screen and (min-aspect-ratio: 4/3)  and (orientation: landscape) {
    ion-content.clock {
        &.day {
            background: url("../images/time/day-background.png");
            background-size: cover;
        }

        &.night {
            background: url("../images/time/night-background.png");
            background-size: cover;
        }



        scroll-content {
            overflow: hidden;
        }

    }

    .clock {
        .clock-frame {
            width: 300px;
            height: 300px;
            margin-left: calc(50% - 150px);

            img {
                position: absolute;
                width: 300px;
                top: 100px;
                -webkit-transition: transform 1s;
                -moz-transition: transform 1s;
                -ms-transition: transform 1s;
                -o-transition: transform 1s;
                transition: transform 1s;
            }
        }
    }
}

@media screen and (min-aspect-ratio: 16/10) and (orientation: landscape) {
    ion-content.clock {
        &.day {
            background: url("../images/time/phone-day.png");
            background-size: cover;
        }

        &.night {
            background: url("../images/time/phone-night.png");
            background-size: cover;
        }

        scroll-content {
            overflow: hidden;
        }
    }

    .clock {

    }
}